img {
  float: right;
  position: relative;
  top: -130px;
  left: 60px;
  width: 190px;
  height: 190px;
}

.jumbotron {
  background-color: white;
}

.col-2 {
  float: left;
}

.rightfloat {
  float: right;
}

body {
  margin-left: 150px;
  background-color: #fff;
}
#col4-1{
  float: right;
}
#col6-1{
  float: right;
}

.mydiv {
  margin-left: -150px;
}